extends layout

block content
    nav.navbar.fixed-top.bg-white
        a.navbar-brand(style="color: #0049ff;") Kaart
            
    div(id="map" class="map")
    div(id="bitch")

    nav.navbar.fixed-bottom.bg-white
        #nav-content
            ul.nav
                li.nav-item
                    a.nav-link(onclick="displayAll()") All
                li.nav-item
                    a.nav-link(onclick="displayStores()" ) Winkels
                li.nav-item
                    a.nav-link(onclick="displayRestaurants()") Restaur
                li.nav-item
                    a.nav-link(onclick="displayCulture()") Cultuur
