extends layout

block content
    nav.navbar.fixed-top.bg-blue
        input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
        a.navbar-brand(style="color: white;") Scan QR
    